<!--Embed the header.html template at this location-->
{{ template "header.html" . }}

<!--Loop over the payload variable, which is the list of articles-->
{{ range .payload }}
<!--Create the link for the article based on its ID-->
<a href="/article/view/{{ .ID }}">
    <!--Display the title of the article-->
    <h2>{{ .Title }}</h2>
</a>
<!--Display the content of the article-->
<p>{{ .Content }}</p>
{{ end }}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" . }}